body {
  background-color: #c6dbd6;
    color: #333333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
  background-color: #88c9bf;
  color: white;
  padding: 1rem;
  text-align: center;
}

main {
  padding: 1rem;
}

#recipe-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.recipe-card {
  background: white;
  border: 1px solid #dbe7e4;
  transition: background 0.3s ease;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  cursor: pointer;
  width: 250px;
}

.recipe-card:hover {
  background-color: #a8d8ea;
}

#recipe-detail {
  margin: 2rem auto;
  background-color: white;
  border: 1px solid #dbe7e4;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  text-align: left;
}

.hidden {
  display: none;
}

.mood-tracker {
  margin-top: 1rem;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #dbe7e4;
    color: #000000;
  position: fixed;
  bottom: 0;
  width: 100%;
}